
.contenedorItemcart{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid black;
    
}

.contenedorImg{
 width: 20%;
 object-fit: contain;
}

.contenedorCart1{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    text-align: center;
  
}

.contenedorCart2{

    display: flex;
    flex-direction: column;
    
  
  
}